*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    width: 100%;
    height: 100dvh;
    background-color: #E2EAF5;
    justify-content: center;
}

.main{
    max-width: 1200px;
    height: 200px;
    margin-top: 2rem;
    background-color: lime;
}