*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    width: 100%;
    height: 100dvh;
    background-color: #E2EAF5;
    justify-content: center;
}

.main{
    max-width: 1200px;
    height: 200px;
    margin-top: 2rem;
    background-color: lime;
}
.grande{
    width: 700px;
}
.pesquisa{
    display: flex;
    padding: 1rem;
    gap : 0.6rem;
    width: 100%;
    align-items: center;

}
.search_bar{
    background-color: #ffffff;
    display: flex;
    align-items: center;    
    border-radius: 15.58px;
    padding-left: 5px;
    width: 70%;
}
.search_input{
    border-radius: 15.58px;
    width: 100%;
    height: 35px;
    border: none;
    outline: none;
    background-color: transparent;
}
.setinha{
    width: 20px;
    height: 20px;
}